@import "../../../styles/main.scss";

.BoundingBox {
  fill: none;
  stroke: none;
}
.GridItem {
  fill: $gray30;
  stroke: none;
}
.GridName {
  fill: $gray20;
  opacity: 0.3;
  stroke: none;
  font-family: FoundrySterlingLight;
  dominant-baseline: central;
  text-anchor: middle;
}
