@import "../../../styles/main.scss";

.SideBar {
  position: absolute;
  top: 0;
  width: $sideBarWidth;
  height: 100vh;
  z-index: $sideBarOverlayZIndex + 1;
  background-color: $secondaryBlue;
  color: white;
  transition: all 0.2s ease-out;
  .SideBarHeader {
    display: flex;
    height: $headerHeight;
    justify-content: space-between;
    overflow: hidden;
    border: 0;
    .CloseMenuButton {
      max-width: 46px;
      min-width: 29px;
      width: 8vw;
      height: 100%;
      @include flexCenter();
    }
  }
  .Body {
    background-color: $lightBlue;
    height: 100%-$headerHeight;
  }
}

.SideBar.open{
  transform: translateX(0%);
}

.SideBar.closed{
  transform: translateX(-100%);
}

:export {
  sideBarOverlayZIndex: $sideBarOverlayZIndex;
}
