.App {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.FlexContainer {
  display: flex;
}

.Toastify__toast-container {
  z-index: 9999;
  -webkit-transform: translate3d(0, 0, 9999px);
  position: fixed;
  padding: 4px;
  width: 320px;
  box-sizing: border-box;
  /* Remove margin-top to restore to default */
  margin-top: 10vw;
  color: white;
}
