@import "./shared/styles/fonts.scss";
@import "./shared/styles/colors.scss";

html{
  height: 100vh;
}

body {
  margin: 0;
  font-family: FoundrySterlingLight;
  color:$gray20;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100vh;
}