@import "../../styles/main.scss";

tr.HistoryRow th {
  border-bottom: 1px solid $gray80;
}

tr.HistoryRow td {
  border-bottom: 1px solid $gray80;
  padding: 8px 40px 8px 2px;
}

.HistoryTH {
  text-align: left;
}

.HistoryTable {
  border-spacing: 0;
}

.HistoryScreenPaper {
  height: 70vh;
  overflow-y: auto;
}
