.Lane{
    width: 75%;
    border: 3px solid;
    margin: 5px;
    height: 5vw;
}
.LaneSelected{
    border-color: #ade25d;
    /* background-color: #cfffb3; */
}
.FrameContainer{
    height: 100%;
    border-color: inherit;
    background-color: inherit;
}
.LaneLabel{
    align-self: center;
}
.LaneContainer{
    justify-content: space-evenly;
    cursor: pointer;
}