.TugmasterLabel {
    margin: 0 20px 0 0;
    font-size: 18px;
    min-width: 120px;
}

.TugmasterValue {
    font-size: 24px;
    font-weight: 500;
}

.TugmasterRow {
    display: flex;
    flex-direction: row;
    margin: 0 0 20px 20px; 
}

.TugmasterInstruction {
    max-width: 500px;
}

.DoneButton{
    margin-top: 40px !important;
    /* max-width: 300px !important; */
}