@import "../../styles/colors.scss";

.BlueBackground {
  width: 100%;
  height: 100%;
  // background-color:  $darkBlue;
  background: $blueBackground;
  display: flex;
  justify-content: center;
  align-items: center;
}
