@import "../../styles/main.scss";

.Button {
  border-radius: 4px;
  box-sizing: border-box;
  padding: 1vh 1vw;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: FoundrySterling;
  font-size: $standardFont;
  border: none;
  outline: none;
  .Label {
    padding: 0 5px;
  }
}

.ButtonInvisible {
  visibility: hidden;
}

.Button.color-green {
  background-color: $successGreen;
}

.Button.color-red {
  background-color: $primaryRed;
}

.Button.color-blue {
  background-color: $primaryBlue;
}

.Button.color-gray {
  background-color: $gray80;
  color: transparentize($gray20, 0.2);
}
.Button.color-orange {
  background-color: $primaryOrange;
}
.Button.size-small {
  font-size: $smallFont;
  padding: 0;
}

.Button.size-standard {
  font-size: $standardFont;
  min-width: 10vw;
  min-height: 5vmin;
}

.Button.size-medium {
  font-size: $standardFont;
  min-width: 15vw;
  min-height: 7.5vmin;
}

.Button.size-big {
  font-size: $mediumFont;
  min-width: 20vw;
  min-height: 10vmin;
}
