@import "../../styles/main.scss";

.Button {
  border-radius: 6px;
  width: 100%;
  box-sizing: border-box;
  padding: 2vh 2vw;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: FoundrySterlingMedium;
  font-size: $standardFont;
  border: none;
}

.type-positive {
  background-color: $successGreen;
}

.type-danger {
  background-color: $primaryRed;
}

.type-navigation {
  background-color: $primaryBlue;
}

.type-neutral {
  background-color: $gray80;
  color: transparentize($gray20, 0.2);
}
.size-small {
  font-size: $smallFont;
}

.size-standard {
  font-size: $standardFont;
}

.size-medium {
  font-size: $mediumFont;
}

.size-big {
  font-size: $bigFont;
}
