@import "../../styles/main.scss";

.DeckMap {
  height: 100%-$headerHeight;
  background-color: $backgroundGray;
  .DeckMapHeader {
    @include flexSpaceBetween();
    border: 0;
    height: 20%;
  }
  .svgBody {
    width: 99%;
    height: 55%;
    overflow: auto;
    .containerGroup {
      fill: white;
      stroke: black;
      stroke-width: 0.1;
      pointer-events: visible;
    }
  }
  .DeckMapFooter {
    @include flexSpaceBetween();
    height: 25%;
    margin: 0 5vw;
    align-items: center;
  }

  .DeckMapFooterDischarge {
    @include flexSpaceBetween();
    align-items: center;
    height: 25%;
    margin: 0 5% 0 0;
  }
}
