@import "../../styles/main.scss";

.DeckMap {
  height: 100%-$headerHeight;
  background-color: $backgroundGray;
  .Header {
    border: 0;
    height: 20%;
    display: flex;
    justify-content: space-between;
  }
  .svgBody {
    width: 99%;
    height: 55%;
    overflow: initial;
    .containerGroup {
      fill: white;
      stroke: black;
      stroke-width: 0.1;
      pointer-events: visible;
    }
  }
  .Footer {
    @include flexCenter();
    height: 25%;
  }
}
