@import "../../styles/main.scss";

.Button {
  border-radius: 6px;
  width: 100%;
  box-sizing: border-box;
  padding: 2vh 2vw;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: FoundrySterlingMedium;
  font-size: $standardFont;
  border: none;
}

.positive {
  background-color: $successGreen;
}

.danger {
  background-color: $primaryRed;
}
