@import "../../../styles/main.scss";

.CargoDetails {
  @include flexColumn();
  justify-content: space-around;
  align-items: flex-start;
  margin: 2vh 2vw;
  padding: 1vh;
  font-size: $standardFont;
  height: min-content;
  width: min-content;
  z-index: $cargoDetailsOverlayZIndex + 1;
  background-color: white;
  width: 250px;
  height: 100px;
  .CargoDetailItem {
    @include flexStart();
    width: 100%;
    white-space: nowrap;
    > div {
      margin: 0vh 0.5vw;
      box-sizing: border-box;
      min-width: 6vw;
    }
  }
}

:export {
  cargoDetailsOverlayZIndex: $cargoDetailsOverlayZIndex;
}
