@import "../../../styles/main.scss";

.CargoDetails {
  @include flexColumn();
  justify-content: space-around;
  align-items: center;
  margin: 2vh 0vw;
  padding: 1vh 2vw;
  font-size: $standardFont;
  height: min-content;
  // width: min-content;
  // z-index: $cargoDetailsOverlayZIndex + 1;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  min-width: $deckmapHeaderElementWidth;
  // height: 5vh;
  .Container{
    padding: 1vh 0;
  }
  .Container:not(:last-child){
    border-bottom: 1px solid $gray80;
  }
  .CargoDetailItem {
    @include flexStart();
    white-space: nowrap;
    flex: 1;
    // width: 100%;
    > span {
      margin: 0vh 0.5vw;
      box-sizing: border-box;
      min-width: 6vw;
    }
  }
  .SearchCargoInput{
    border: 0;
    padding: 0;
    margin: 0;
    width: 90%;
  }
}

:export {
  cargoDetailsOverlayZIndex: $cargoDetailsOverlayZIndex;
}
