@import "../../../styles/main.scss";

.CargoDetails {
  @include flexRow();
  margin: 2vh 2vw;
  font-size: $smallFont;
  height: min-content;
  width: min-content;
  z-index: $cargoDetailsOverlayZIndex + 1;
  .Card {
    @include flexColumn();
    width: 100%;
    .ButtonContainer {
      @include flexCenter();
      flex-direction: column;
      .CargoDetailsButton {
        background-color: $gray80;
        margin: 1vh 0;
        padding: 1vh 1vw;
        color: transparentize($gray20, 0.2);
        font-size: $smallFont;
        width: min-content;
        @include flexCenter();
        white-space: nowrap;
        min-width: 70%;
        max-width: 90%;
      }
    }
  }
  .CargoDetailItem {
    @include flexStart();
    width: 100%;
    white-space: nowrap;
    > div {
      margin: 0vh 0.5vw;
      box-sizing: border-box;
      min-width: 6vw;
    }
    .Value {
      font-family: FoundrySterlingMedium;
    }
  }
}

:export {
  cargoDetailsOverlayZIndex: $cargoDetailsOverlayZIndex;
}
