@import "../../../styles/main.scss";

.CargoIcon {
  fill: $gray20;
  stroke-width: 1;
  stroke: $gray20;
  pointer-events: auto;
  -webkit-tap-highlight-color: transparent;
  .BoundingBox {
    fill: $gray20;
    opacity: 0.6;
    stroke: none;
    pointer-events: visible;
  }
  .BoundingBox.Placing {
    animation: blinker 1.2s linear infinite;
  }
}
.CargoIcon.Placing {
  pointer-events: auto;
  animation: blinker 1.2s linear infinite;
}
@keyframes blinker {
  50% {
    fill: $gray80;
    // stroke: $gray80;
  }
}
.CargoRegistrationNumber {
  fill: white;
  stroke: none;
  font-family: FoundrySterlingLight;
  dominant-baseline: central;
  text-anchor: middle;
  pointer-events: none;
}
