@import "../../../styles/main.scss";

.CargoIcon {
  fill: $gray20;
  stroke-width: 1;
  stroke: $gray20;
  pointer-events: auto;
  .BoundingBox {
    fill: $gray20;
    opacity: 0.6;
    stroke: none;
    pointer-events: visible;
  }
}

.CargoIcon.Placing {
  pointer-events: auto;
  animation: blinker 1.5s linear infinite;
}
@keyframes blinker {
  50% {
    fill: $gray90;
    stroke: $gray90;
  }
}
.CargoRegistrationNumber{
  fill: white;
  stroke: none;
  font-family: FoundrySterlingLight;
  dominant-baseline: central;
  text-anchor: middle;
  pointer-events: none;
}
