@import "../../../shared/styles/main.scss";

.CargoIcon {
    fill: $gray20;
    stroke-width: 1;
    stroke: $gray20;
    pointer-events: none;
}
.CargoIcon.Placing {
    pointer-events: auto;
    animation: blinker 1.5s linear infinite;
}
@keyframes blinker {
    50% {
        fill: $gray80;
        stroke: $gray80;
    }
}
