@import "../../styles/main.scss";

.TextInput {
  background: #ffffff;
  border: 2px solid $gray80;
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
  font-family: FoundrySterlingMedium;
  font-size: $standardFont;
  padding: 2vh 2vw;
}

.TextInput::placeholder {
  color: $gray80;
}

.TextInput:focus {
  outline: none !important;
}
