@import "../../../styles/main.scss";

.DeckSelector {
  @include flexRow();
  margin: 2vh 0vw;
  height: min-content;
  z-index: $deckSelectorOverlayZIndex + 1;
  pointer-events: none;
  .DeckSelectorItemsWrapper{
    .DeckSelectorItem{
      transition: all 300ms linear;
      pointer-events: auto;
      .DeckSelectorItemButton {
        white-space: nowrap;
        cursor: pointer;
        background-color: white;
        color: $gray20;
        margin: 0.5vh 0vw;
        padding: 1vh 1vw;
        width: 100%;
      }
    }
    .DeckSelectorItem.open{
      transform: translateX(0%);
      opacity: 1;
          .DeckSelectorItemButton.Selected {
            background-color: $lightPurple;
          }
    }
    @for $i from 1 through $deckmapMaxDeckNumber {
      $val:$i - 1;
      .DeckSelectorItem.closed-#{$i}{
        transform: translateY(-1*$val*100%);
        opacity: 0;
      }
    }
    .DeckSelectorItem.current{
      opacity: 1;
    }
  }
}

.DeckSelectorContainer {
  min-width: $deckmapHeaderElementWidth+4vw;
  display: flex;
  justify-content: flex-end;
}

:export {
  deckSelectorOverlayZIndex: $deckSelectorOverlayZIndex;
}
