@import "../../../styles/main.scss";

.DeckSelector {
  @include flexRow();
  margin: 2vh 2vw;
  height: min-content;
  z-index: $deckSelectorOverlayZIndex + 1;
  .DeckSelectorItem {
    font-family: FoundrySterling;
    white-space: nowrap;
    font-size: $smallFont;
    cursor: pointer;
    background-color: white;
    color: $gray20;
    margin: 0.5vh 0vw;
    padding: 1vh 1vw;
    min-width: 12vw;
  }
  .Selected {
    background-color: $primaryBlue;
    color: white;
    // box-shadow: 0px 0px 0px;
  }
}

.DeckSelectorContainer {
  min-width: $deckmapHeaderElementWidth;
  display: flex;
  justify-content: space-between;
}

:export {
  deckSelectorOverlayZIndex: $deckSelectorOverlayZIndex;
}
