@font-face {
  font-family: "FoundrySterling";
  src: local("FoundrySterling"), url(../../assets/fonts/FoundrySterling-Book.otf) format("opentype");
}
@font-face {
  font-family: "FoundrySterlingItalic";
  src: local("FoundrySterlingItalic"), url(../../assets/fonts/FoundrySterling-BookItalic.otf) format("opentype");
}
@font-face {
  font-family: "FoundrySterlingDemi";
  src: local("FoundrySterlingDemi"), url(../../assets/fonts/FoundrySterling-Demi.otf) format("opentype");
}
@font-face {
  font-family: "FoundrySterlingExtraBold";
  src: local("FoundrySterlingExtraBold"), url(../../assets/fonts/FoundrySterling-ExtraBold.otf) format("opentype");
}
@font-face {
  font-family: "FoundrySterlingLight";
  src: local("FoundrySterlingLight"), url(../../assets/fonts/FoundrySterling-Light.otf) format("opentype");
}
@font-face {
  font-family: "FoundrySterlingMedium";
  src: local("FoundrySterlingMedium"), url(../../assets/fonts/FoundrySterling-Medium.otf) format("opentype");
}
