$sideBarOverlayZIndex: 100;
$sideBarWidth: 25vmax;
$headerHeight: 10%;
$cargoDetailsOverlayZIndex: 50;

$titleFont: calc(32px + 1vw);
$subTitleFont: calc(22px + 0.7vw);
$standardFont: calc(20px + 0.4vw);
$smallFont: calc(12px + 0.3vw);

@mixin flexRow() {
  display: flex;
  flex-direction: row;
}
@mixin flexColumn() {
  display: flex;
  flex-direction: column;
}
@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flexStart() {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
