@import "../../../styles/main.scss";

.ReplacementBoxName {
  fill: $gray20;
  opacity: 0.3;
  stroke: none;
  font-family: FoundrySterlingLight;
  dominant-baseline: central;
  text-anchor: middle;
}