@import "../../../styles/main.scss";

.DetailsButton {
  max-width: 37px;
  min-width: 20px;
  width: 8vw;
  height: 100%;
  @include flexCenter();
  position: relative;
}

:export {
  popupOverlayZIndex: $popupOverlayZIndex;
}
