@import "../../../../styles/main.scss";

a {
  text-decoration: inherit;
  color: inherit;
}

a.NavItem.active {
  background-color: $primaryBlue;
}

.NavItem {
  border-bottom: 1px solid $primaryBlue;
  box-sizing: border-box;
  padding: 1vh 2vw;
  @include flexStart();
  font-size: $mediumFont;
}
