@import "../../../../styles/main.scss";

a {
  text-decoration: inherit;
  color: inherit;
}
a.active {
  .NavItem {
    background-color: $primaryBlue;
  }
}
.NavItem {
  border-bottom: 1px solid $primaryBlue;
  box-sizing: border-box;
  padding: 2vh 2vw;
  @include flexStart();
  font-size: $mediumFont;
}
