@import "../../styles/main.scss";

.Collapsible {
  width: 100%;
  @include flexColumn();
  @include flexCenter();
  .childrenContainer {
    width: 100%;
    overflow: hidden;
  }
  .iconContainer {
    width: 100%;
    @include flexCenter();
    padding: 1vh 0;
  }
}
