@import "../../styles/main.scss";

.Text {
  margin: $standardMargin;
}

// .header2 {
//   font-size: 1.3em;
//   font-family: FoundrySterlingMedium;
//   margin: 0.3em 0;
// }

.weight-light {
  font-family: FoundrySterlingLight;
}

.weight-standard {
  font-family: FoundrySterling;
}

.weight-medium {
  font-family: FoundrySterlingMedium;
}

.weight-bold {
  font-family: FoundrySterlingDemi;
}

.text-size-small {
  font-size: $smallFont;
}

.text-size-standard {
  font-size: $standardFont;
}

.text-size-medium {
  font-size: $mediumFont;
}

.text-size-big {
  font-size: $bigFont;
}

.color-white {
  color: white;
}

.color-standard {
  color: $gray20;
}

.color-red {
  color: $primaryRed;
}

.color-green {
  color: $successGreen;
}

.color-blue {
  color: $primaryBlue;
}
