$gray20: #333;
$gray30: #4d4d4d;
$gray80: #ccc;
$backgroundGray: #ECEDED;

$primaryBlue: #2F80ED;
$secondaryBlue: #145FC3;
$lightBlue: #6AAAFF;
$darkBlue: #004C92;

$successGreen: #3EC16D;

$primaryRed: #EB5757;