$gray20: #333;
$gray30: #4d4d4d;
$gray80: #ccc;
$gray90: #e5e5e5;
$backgroundGray: #eceded;

$primaryBlue: #2f80ed;
$secondaryBlue: #145fc3;
$lightBlue: #6aaaff;
$darkBlue: #004c92;

$successGreen: #3ec16d;

$primaryRed: #eb5757;
$primaryRed70: #ecbfbf;

$primaryOrange: #ffb015;
$suggestionYellow: #ddf78d;

$primaryViolet: #8a2be2;
$lightViolet: #b47eb3;

$lightPurple: #c6caed;

$blueBackground: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.4) 100%
  ),
  #004c92;
